.container {
    margin:30px;
    width:340px;
    overflow: auto;
    white-space:nowrap;
    background-color: rgb(55, 39, 124);
    word-wrap:normal;
        overflow: hidden;
}

.img {
    width: 300px
}

h4,h5{
    margin:2px;
    color: rgb(255, 255, 255);
}
.about{
    margin:3px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.description {
    padding: 3px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    text-overflow: ellipsis;
   
}