
.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 20px;
}

.logo-text {
    max-width: 67px;
    font-weight: 500;
    color:rgb(70, 70, 70);
    padding:5px;
}


input{
    background-color: rgb(199, 198, 198);
}