.subHeader {
    background-color: rgb(32, 32, 131);
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}


.icon{
    margin: 0 1px;
    font-size: x-large;
}


.circle-icon-1 {
    fill:orangered ;
}

.circle-icon-2 {
    fill:rgb(243, 220, 9);
}

.circle-icon-3 {
    fill: rgb(70, 207, 70)
}